:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, p, hr, ol, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

#app {
}
