<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cream.sparkle.mapper.ChunkDataMapper">
    <insert id="insertChunkData">
        insert into ${tableName}(id, data, createTime, updateTime)
        values (#{id}, #{data}, #{createTime}, #{createTime})
    </insert>

    <update id="updateChunkData">
        update ${tableName}
        set data      = #{data},
            updateTime=#{updateTime}
        where id = #{id}
    </update>

    <select id="selectChunkData" resultType="com.cream.sparkle.object.entity.ChunkData">
        select data, createTime, updateTime, deleted
        from ${tableName}
        where id = #{id}
    </select>
</mapper>